.dark-mode {
  background-color: #26282b;
  color: #ffffff;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.messages-container {
  padding: 1rem;
  max-width: 100%;
  height: calc(100vh - 150px); /* Adjust this value to fit your layout */
  overflow-y: auto; /* Enable vertical scrolling */
}

.messages {
  padding: 1rem;
  max-width: 100%;
  word-wrap: break-word;
}

.message {
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
  max-width: 60%;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}

.message-text {
  font-size: 1rem;
}

.message-time {
  font-size: 0.8rem;
  color: #888;
  text-align: right;
}

.sent {
  background-color: #003366; /* Blue color */
  color: white;
  align-self: flex-end;
}

.received {
  background-color: #343a40;
  color: white;
  align-self: flex-start;
}

.message-input-container {
  position: fixed;
  width: 64%;
  bottom: 0;
  padding: 1rem;
  background-color: #26282b;
  border-top: 1px solid #343a40;
}

.input-group-custom {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-emoji {
  flex-grow: 1;
}

.button-emoji {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
}
